@publications-section-display: none;
@summary-section-display: none;
@profile-image-display: none;
@zoom: 1.0;

@media print {
    a[href]:after {
        content: none !important;
    }
    body {
        padding: 10px;
    }
    h1, h2, h3, h4, h5, h6  {
        font-weight: @font-weight-6;
    }
    html {
        zoom: @zoom;
    }

    .wrapper {
        margin: 0;
        padding: 0;
        box-shadow: none;
    }

    .sidebar-wrapper {
        position: static;
        width: inherit;
        min-height: 0;
        .container-block {
            padding: 15px;
        }
        .profile-container {
            padding: 0;
        }
        .profile {
            display: @profile-image-display;
            margin: 0;
        }
        .name {
            font-size: 24px;
            font-weight: @font-weight-8;
            margin-bottom: 4px;
        }
        .profile-info {
            margin-top: 4px;
            margin-bottom: 0;
        }
        .contact-container {
            text-align: center;
            padding-top: 8px;
        }
        .contact-list {
            li {
                margin: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
            .network {
                display: none;
            }
        }
        .container-block-title {
            font-weight: @font-weight-6;
        }
    }

    .main-wrapper {
        padding: 15px;
        min-height: 0;
        .section-title {
            margin-bottom: 10px;
        }
        .section {
            margin-bottom: 20px;
        }
        .experiences-section {
            .item {
                margin-bottom: 30px;
            }
        }
        .summary-section {
            display: @summary-section-display;
        }
        .publications-section {
            display: @publications-section-display;
        }
    }

    .skillset {
        .item {
            margin-bottom: 5px;
        }
        .level-bar {
            display: none;
        }
    }
}